<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Test Firebase</title>     
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.16.0/math.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.3.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.0.1/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
<!--
<div >
    <iframe style='width: 100%;'src="{{ url_for('static', filename='showWeb.html')}}"  ></iframe>
</div>
-->
<div>
    <iframe scrolling="no" width="100%" height="500" src="ShowSignal.html".html" ></iframe>
</div>
<div>
    <iframe scrolling="no" width="100%" height="450" src="Features.html" ></iframe>
</div>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<!-- <script src="https://www.gstatic.com/firebasejs/6.0.1/firebase-database.js"></script> -->

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

<script>
  </script>
</body>
</html>